.top {
  &-wrapper {
    width: 100%;
    height: 250px;
    background-color: #142841;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .input-div {
      display: flex;
      align-items: center;
      background-color: white;
      width: 60%;
      padding: 5px;
      border-radius: 100px;

      input {
        width: 100%;
        height: 100%;
        border-radius: 100px;
        border: none;
        font-size: 20px;
      }

      textarea:focus,
      input:focus {
        outline: none;
      }
    }
  }

  &-title {
    color: white;
    font-size: 30px;
  }
}
